# Gitignore file
*

# Get us
!/.gitignore

# Get all lua files
!/after
!/after/**
!/ftplugin
!/ftplugin/**
!/lsp
!/lsp/**
!/lua
!/lua/**
!/**.lua

# Get vimscript files
!/colors
!/colors/*.vim

# Get all base directory nix files
!/*.nix

# Get the flake.lock file
!/flake.lock

# Get all markdown
!/**.md
